# Population Data for All States in the U.S.

In [5]:
# Scrapes the site World Population Review for US States data and dumps it into a dataframe
import pandas as pd
from bs4 import BeautifulSoup
import requests
import re
from webdriver_manager.chrome import ChromeDriverManager
from splinter import Browser

In [6]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False) # headless=True hides the chrome window pop-up

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Driver [/Users/nataligracia/.wdm/drivers/chromedriver/mac64/89.0.4389.23/chromedriver] found in cache

In [7]:
# Ensure browser chrome window resets
# browser.quit()

In [8]:
# Set up the necessary variables

url = 'https://worldpopulationreview.com/states'

browser.visit(url)

html = browser.html

soup = BeautifulSoup(html, 'html.parser')

In [9]:
# Use soup.find_all() to find data needed for all states.
states = soup.find_all('table')[0]
states

<table class="jsx-1487038798 table table-striped tp-table-body"><thead class="jsx-2642336383" style="font-weight: bold;"><tr class="jsx-2642336383"><th class="jsx-2816426159"><span class="jsx-2816426159"><a class="jsx-2816426159" data-field="rank" style="color: black; cursor: pointer; display: inline-block;">Rank  </a></span></th><th class="jsx-2816426159"><span class="jsx-2816426159"><a class="jsx-2816426159" data-field="State" style="color: black; cursor: pointer; display: inline-block;">State  </a></span></th><th class="jsx-2816426159"><span class="jsx-2816426159"><a class="jsx-2816426159" data-field="Pop" style="color: black; cursor: pointer; display: inline-block;">2021 Pop. <svg fill="currentColor" height="1em" stroke="currentColor" stroke-width="0" viewbox="0 0 320 512" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path></svg> </a></span></th><th class="jsx-2816426159"><span class="jsx-2816426159"><a class="jsx-2816426159" data-field="Growth" style="color: black; cursor: pointer; display: inline-block;">2021 Growth  </a></span></th><th class="jsx-2816426159"><span class="jsx-2816426159"><a class="jsx-2816426159" data-field="Pop2018" style="color: black; cursor: pointer; display: inline-block;">2018 Pop.  </a></span></th><th class="jsx-2816426159"><span class="jsx-2816426159"><a class="jsx-2816426159" data-field="Pop2010" style="color: black; cursor: pointer; display: inline-block;">2010 Census  </a></span></th><th class="jsx-2816426159"><span class="jsx-2816426159"><a class="jsx-2816426159" data-field="growthSince2010" style="color: black; cursor: pointer; display: inline-block;">Growth Since 2010  </a></span></th><th class="jsx-2816426159"><span class="jsx-2816426159"><a class="jsx-2816426159" data-field="Percent" style="color: black; cursor: pointer; display: inline-block;">% of US  </a></span></th><th class="jsx-2816426159"><span class="jsx-2816426159"><a class="jsx-2816426159" data-field="density" style="color: black; cursor: pointer; display: inline-block; padding-right: 12px;">Density (p/mi²)  </a></span></th></tr></thead><tbody class="jsx-2642336383"><tr><td>1</td><td><a href="/states/california-population">California</a></td><td>39,613,500</td><td><span style="color: green;">0.38%</span></td><td>39,461,600</td><td>37,319,500</td><td><span style="color: green;">6.15%</span></td><td>11.84%</td><td>254</td></tr><tr><td>2</td><td><a href="/states/texas-population">Texas</a></td><td>29,730,300</td><td><span style="color: green;">3.85%</span></td><td>28,628,700</td><td>25,242,000</td><td><span style="color: green;">17.78%</span></td><td>8.89%</td><td>114</td></tr><tr><td>3</td><td><a href="/states/florida-population">Florida</a></td><td>21,944,600</td><td><span style="color: green;">3.30%</span></td><td>21,244,300</td><td>18,845,500</td><td><span style="color: green;">16.44%</span></td><td>6.56%</td><td>409</td></tr><tr><td>4</td><td><a href="/states/new-york-population">New York</a></td><td>19,300,000</td><td><span style="color: red;">-1.18%</span></td><td>19,530,400</td><td>19,399,900</td><td><span style="color: red;">-0.51%</span></td><td>5.77%</td><td>410</td></tr><tr><td>5</td><td><a href="/states/pennsylvania-population">Pennsylvania</a></td><td>12,804,100</td><td><span style="color: green;">0.02%</span></td><td>12,800,900</td><td>12,711,200</td><td><span style="color: green;">0.73%</span></td><td>3.83%</td><td>286</td></tr><tr><td>6</td><td><a href="/states/illinois-population">Illinois</a></td><td>12,569,300</td><td><span style="color: red;">-1.21%</span></td><td>12,723,100</td><td>12,840,500</td><td><span style="color: red;">-2.11%</span></td><td>3.76%</td><td>226</td></tr><tr><td>7</td><td><a href="/states/ohio-population">Ohio</a></td><td>11,714,600</td><td><span style="color: green;">0.33%</span></td><td>11,676,300</td><td>11,539,300</td><td><span style="color: green;">1.52%</span></td><td>3.50%</td><td>287</td></tr><tr><td>8</td><td><a href="/states/georgia-population">Georgia</a></td><td>10,830,000</td><td><span style="color: green;">3.03%</span></td><td>10,511,100</td><td>9,711,880</td><td><span style="color: green;">11.51%</span></td><td>3.24%</td><td>188</td></tr><tr><td>9</td><td><a href="/states/north-carolina-population">North Carolina</a></td><td>10,701,000</td><td><span style="color: green;">3.08%</span></td><td>10,381,600</td><td>9,574,320</td><td><span style="color: green;">11.77%</span></td><td>3.20%</td><td>220</td></tr><tr><td>10</td><td><a href="/states/michigan-population">Michigan</a></td><td>9,992,430</td><td><span style="color: green;">0.08%</span></td><td>9,984,070</td><td>9,877,510</td><td><span style="color: green;">1.16%</span></td><td>2.99%</td><td>177</td></tr><tr><td>11</td><td><a href="/states/new-jersey-population">New Jersey</a></td><td>8,874,520</td><td><span style="color: red;">-0.13%</span></td><td>8,886,020</td><td>8,799,450</td><td><span style="color: green;">0.85%</span></td><td>2.65%</td><td>1,207</td></tr><tr><td>12</td><td><a href="/states/virginia-population">Virginia</a></td><td>8,603,980</td><td><span style="color: green;">1.21%</span></td><td>8,501,290</td><td>8,023,700</td><td><span style="color: green;">7.23%</span></td><td>2.57%</td><td>218</td></tr><tr><td>13</td><td><a href="/states/washington-population">Washington</a></td><td>7,796,940</td><td><span style="color: green;">3.63%</span></td><td>7,523,870</td><td>6,742,830</td><td><span style="color: green;">15.63%</span></td><td>2.33%</td><td>117</td></tr><tr><td>14</td><td><a href="/states/arizona-population">Arizona</a></td><td>7,520,100</td><td><span style="color: green;">5.06%</span></td><td>7,158,020</td><td>6,407,170</td><td><span style="color: green;">17.37%</span></td><td>2.25%</td><td>66</td></tr><tr><td>15</td><td><a href="/states/tennessee-population">Tennessee</a></td><td>6,944,260</td><td><span style="color: green;">2.55%</span></td><td>6,771,630</td><td>6,355,310</td><td><span style="color: green;">9.27%</span></td><td>2.08%</td><td>168</td></tr><tr><td>16</td><td><a href="/states/massachusetts-population">Massachusetts</a></td><td>6,912,240</td><td><span style="color: green;">0.43%</span></td><td>6,882,640</td><td>6,566,310</td><td><span style="color: green;">5.27%</span></td><td>2.07%</td><td>886</td></tr><tr><td>17</td><td><a href="/states/indiana-population">Indiana</a></td><td>6,805,660</td><td><span style="color: green;">1.65%</span></td><td>6,695,500</td><td>6,490,430</td><td><span style="color: green;">4.86%</span></td><td>2.03%</td><td>190</td></tr><tr><td>18</td><td><a href="/states/missouri-population">Missouri</a></td><td>6,169,040</td><td><span style="color: green;">0.77%</span></td><td>6,121,620</td><td>5,995,970</td><td><span style="color: green;">2.89%</span></td><td>1.84%</td><td>90</td></tr><tr><td>19</td><td><a href="/states/maryland-population">Maryland</a></td><td>6,065,440</td><td><span style="color: green;">0.49%</span></td><td>6,035,800</td><td>5,788,640</td><td><span style="color: green;">4.78%</span></td><td>1.81%</td><td>625</td></tr><tr><td>20</td><td><a href="/states/colorado-population">Colorado</a></td><td>5,893,630</td><td><span style="color: green;">3.56%</span></td><td>5,691,290</td><td>5,047,350</td><td><span style="color: green;">16.77%</span></td><td>1.76%</td><td>57</td></tr><tr><td>21</td><td><a href="/states/wisconsin-population">Wisconsin</a></td><td>5,852,490</td><td><span style="color: green;">0.78%</span></td><td>5,807,410</td><td>5,690,480</td><td><span style="color: green;">2.85%</span></td><td>1.75%</td><td>108</td></tr><tr><td>22</td><td><a href="/states/minnesota-population">Minnesota</a></td><td>5,706,400</td><td><span style="color: green;">1.79%</span></td><td>5,606,250</td><td>5,310,830</td><td><span style="color: green;">7.45%</span></td><td>1.71%</td><td>72</td></tr><tr><td>23</td><td><a href="/states/south-carolina-population">South Carolina</a></td><td>5,277,830</td><td><span style="color: green;">3.81%</span></td><td>5,084,160</td><td>4,635,650</td><td><span style="color: green;">13.85%</span></td><td>1.58%</td><td>176</td></tr><tr><td>24</td><td><a href="/states/alabama-population">Alabama</a></td><td>4,934,190</td><td><span style="color: green;">0.95%</span></td><td>4,887,680</td><td>4,785,440</td><td><span style="color: green;">3.11%</span></td><td>1.47%</td><td>97</td></tr><tr><td>25</td><td><a href="/states/louisiana-population">Louisiana</a></td><td>4,627,000</td><td><span style="color: red;">-0.70%</span></td><td>4,659,690</td><td>4,544,530</td><td><span style="color: green;">1.81%</span></td><td>1.38%</td><td>107</td></tr><tr><td>26</td><td><a href="/states/kentucky-population">Kentucky</a></td><td>4,480,710</td><td><span style="color: green;">0.44%</span></td><td>4,461,150</td><td>4,348,180</td><td><span style="color: green;">3.05%</span></td><td>1.34%</td><td>113</td></tr><tr><td>27</td><td><a href="/states/oregon-population">Oregon</a></td><td>4,289,440</td><td><span style="color: green;">2.57%</span></td><td>4,181,890</td><td>3,837,490</td><td><span style="color: green;">11.78%</span></td><td>1.28%</td><td>45</td></tr><tr><td>28</td><td><a href="/states/oklahoma-population">Oklahoma</a></td><td>3,990,440</td><td><span style="color: green;">1.27%</span></td><td>3,940,240</td><td>3,759,940</td><td><span style="color: green;">6.13%</span></td><td>1.19%</td><td>58</td></tr><tr><td>29</td><td><a href="/states/connecticut-population">Connecticut</a></td><td>3,552,820</td><td><span style="color: red;">-0.52%</span></td><td>3,571,520</td><td>3,579,110</td><td><span style="color: red;">-0.73%</span></td><td>1.06%</td><td>734</td></tr><tr><td>30</td><td><a href="/states/utah-population">Utah</a></td><td>3,310,770</td><td><span style="color: green;">4.99%</span></td><td>3,153,550</td><td>2,775,330</td><td><span style="color: green;">19.29%</span></td><td>0.99%</td><td>40</td></tr><tr><td>31</td><td><a href="/states/puerto-rico-population">Puerto Rico</a></td><td>3,194,370</td><td><span style="color: green;">0.03%</span></td><td>3,193,350</td><td>3,721,520</td><td><span style="color: red;">-14.16%</span></td><td>0.95%</td><td>923</td></tr><tr><td>32</td><td><a href="/states/nevada-population">Nevada</a></td><td>3,185,790</td><td><span style="color: green;">5.23%</span></td><td>3,027,340</td><td>2,702,400</td><td><span style="color: green;">17.89%</span></td><td>0.95%</td><td>29</td></tr><tr><td>33</td><td><a href="/states/iowa-population">Iowa</a></td><td>3,167,970</td><td><span style="color: green;">0.61%</span></td><td>3,148,620</td><td>3,050,740</td><td><span style="color: green;">3.84%</span></td><td>0.95%</td><td>57</td></tr><tr><td>34</td><td><a href="/states/arkansas-population">Arkansas</a></td><td>3,033,950</td><td><span style="color: green;">0.80%</span></td><td>3,009,730</td><td>2,921,960</td><td><span style="color: green;">3.83%</span></td><td>0.91%</td><td>58</td></tr><tr><td>35</td><td><a href="/states/mississippi-population">Mississippi</a></td><td>2,966,410</td><td><span style="color: red;">-0.49%</span></td><td>2,981,020</td><td>2,970,550</td><td><span style="color: red;">-0.14%</span></td><td>0.89%</td><td>63</td></tr><tr><td>36</td><td><a href="/states/kansas-population">Kansas</a></td><td>2,917,220</td><td><span style="color: green;">0.20%</span></td><td>2,911,360</td><td>2,858,190</td><td><span style="color: green;">2.07%</span></td><td>0.87%</td><td>36</td></tr><tr><td>37</td><td><a href="/states/new-mexico-population">New Mexico</a></td><td>2,105,000</td><td><span style="color: green;">0.59%</span></td><td>2,092,740</td><td>2,064,550</td><td><span style="color: green;">1.96%</span></td><td>0.63%</td><td>17</td></tr><tr><td>38</td><td><a href="/states/nebraska-population">Nebraska</a></td><td>1,952,000</td><td><span style="color: green;">1.37%</span></td><td>1,925,610</td><td>1,829,540</td><td><span style="color: green;">6.69%</span></td><td>0.58%</td><td>25</td></tr><tr><td>39</td><td><a href="/states/idaho-population">Idaho</a></td><td>1,860,120</td><td><span style="color: green;">6.26%</span></td><td>1,750,540</td><td>1,570,750</td><td><span style="color: green;">18.42%</span></td><td>0.56%</td><td>23</td></tr><tr><td>40</td><td><a href="/states/west-virginia-population">West Virginia</a></td><td>1,767,860</td><td><span style="color: red;">-2.02%</span></td><td>1,804,290</td><td>1,854,240</td><td><span style="color: red;">-4.66%</span></td><td>0.53%</td><td>74</td></tr><tr><td>41</td><td><a href="/states/hawaii-population">Hawaii</a></td><td>1,406,430</td><td><span style="color: red;">-1.00%</span></td><td>1,420,590</td><td>1,363,960</td><td><span style="color: green;">3.11%</span></td><td>0.42%</td><td>219</td></tr><tr><td>42</td><td><a href="/states/new-hampshire-population">New Hampshire</a></td><td>1,372,200</td><td><span style="color: green;">1.38%</span></td><td>1,353,460</td><td>1,316,760</td><td><span style="color: green;">4.21%</span></td><td>0.41%</td><td>153</td></tr><tr><td>43</td><td><a href="/states/maine-population">Maine</a></td><td>1,354,520</td><td><span style="color: green;">1.15%</span></td><td>1,339,060</td><td>1,327,630</td><td><span style="color: green;">2.03%</span></td><td>0.40%</td><td>44</td></tr><tr><td>44</td><td><a href="/states/montana-population">Montana</a></td><td>1,085,000</td><td><span style="color: green;">2.29%</span></td><td>1,060,660</td><td>990,697</td><td><span style="color: green;">9.52%</span></td><td>0.32%</td><td>7</td></tr><tr><td>45</td><td><a href="/states/rhode-island-population">Rhode Island</a></td><td>1,061,510</td><td><span style="color: green;">0.30%</span></td><td>1,058,290</td><td>1,053,960</td><td><span style="color: green;">0.72%</span></td><td>0.32%</td><td>1,027</td></tr><tr><td>46</td><td><a href="/states/delaware-population">Delaware</a></td><td>990,334</td><td><span style="color: green;">2.57%</span></td><td>965,479</td><td>899,593</td><td><span style="color: green;">10.09%</span></td><td>0.30%</td><td>508</td></tr><tr><td>47</td><td><a href="/states/south-dakota-population">South Dakota</a></td><td>896,581</td><td><span style="color: green;">2.04%</span></td><td>878,698</td><td>816,166</td><td><span style="color: green;">9.85%</span></td><td>0.27%</td><td>12</td></tr><tr><td>48</td><td><a href="/states/north-dakota-population">North Dakota</a></td><td>770,026</td><td><span style="color: green;">1.58%</span></td><td>758,080</td><td>674,715</td><td><span style="color: green;">14.13%</span></td><td>0.23%</td><td>11</td></tr><tr><td>49</td><td><a href="/states/alaska-population">Alaska</a></td><td>724,357</td><td><span style="color: red;">-1.47%</span></td><td>735,139</td><td>713,910</td><td><span style="color: green;">1.46%</span></td><td>0.22%</td><td>1</td></tr><tr><td>50</td><td><a href="/states/district-of-columbia-population">District of Columbia</a></td><td>714,153</td><td><span style="color: green;">1.80%</span></td><td>701,547</td><td>605,226</td><td><span style="color: green;">18.00%</span></td><td>0.21%</td><td>11,707</td></tr><tr><td>51</td><td><a href="/states/vermont-population">Vermont</a></td><td>623,251</td><td><span style="color: red;">-0.18%</span></td><td>624,358</td><td>625,879</td><td><span style="color: red;">-0.42%</span></td><td>0.19%</td><td>68</td></tr><tr><td>52</td><td><a href="/states/wyoming-population">Wyoming</a></td><td>581,075</td><td><span style="color: green;">0.60%</span></td><td>577,601</td><td>564,487</td><td><span style="color: green;">2.94%</span></td><td>0.17%</td><td>6</td></tr></tbody></table>

In [10]:
# Take only the 'tbody' from the 'table' content from the html, and store in the state_data variable
state_data = states.find('tbody')
state_data

<tbody class="jsx-2642336383"><tr><td>1</td><td><a href="/states/california-population">California</a></td><td>39,613,500</td><td><span style="color: green;">0.38%</span></td><td>39,461,600</td><td>37,319,500</td><td><span style="color: green;">6.15%</span></td><td>11.84%</td><td>254</td></tr><tr><td>2</td><td><a href="/states/texas-population">Texas</a></td><td>29,730,300</td><td><span style="color: green;">3.85%</span></td><td>28,628,700</td><td>25,242,000</td><td><span style="color: green;">17.78%</span></td><td>8.89%</td><td>114</td></tr><tr><td>3</td><td><a href="/states/florida-population">Florida</a></td><td>21,944,600</td><td><span style="color: green;">3.30%</span></td><td>21,244,300</td><td>18,845,500</td><td><span style="color: green;">16.44%</span></td><td>6.56%</td><td>409</td></tr><tr><td>4</td><td><a href="/states/new-york-population">New York</a></td><td>19,300,000</td><td><span style="color: red;">-1.18%</span></td><td>19,530,400</td><td>19,399,900</td><td><span style="color: red;">-0.51%</span></td><td>5.77%</td><td>410</td></tr><tr><td>5</td><td><a href="/states/pennsylvania-population">Pennsylvania</a></td><td>12,804,100</td><td><span style="color: green;">0.02%</span></td><td>12,800,900</td><td>12,711,200</td><td><span style="color: green;">0.73%</span></td><td>3.83%</td><td>286</td></tr><tr><td>6</td><td><a href="/states/illinois-population">Illinois</a></td><td>12,569,300</td><td><span style="color: red;">-1.21%</span></td><td>12,723,100</td><td>12,840,500</td><td><span style="color: red;">-2.11%</span></td><td>3.76%</td><td>226</td></tr><tr><td>7</td><td><a href="/states/ohio-population">Ohio</a></td><td>11,714,600</td><td><span style="color: green;">0.33%</span></td><td>11,676,300</td><td>11,539,300</td><td><span style="color: green;">1.52%</span></td><td>3.50%</td><td>287</td></tr><tr><td>8</td><td><a href="/states/georgia-population">Georgia</a></td><td>10,830,000</td><td><span style="color: green;">3.03%</span></td><td>10,511,100</td><td>9,711,880</td><td><span style="color: green;">11.51%</span></td><td>3.24%</td><td>188</td></tr><tr><td>9</td><td><a href="/states/north-carolina-population">North Carolina</a></td><td>10,701,000</td><td><span style="color: green;">3.08%</span></td><td>10,381,600</td><td>9,574,320</td><td><span style="color: green;">11.77%</span></td><td>3.20%</td><td>220</td></tr><tr><td>10</td><td><a href="/states/michigan-population">Michigan</a></td><td>9,992,430</td><td><span style="color: green;">0.08%</span></td><td>9,984,070</td><td>9,877,510</td><td><span style="color: green;">1.16%</span></td><td>2.99%</td><td>177</td></tr><tr><td>11</td><td><a href="/states/new-jersey-population">New Jersey</a></td><td>8,874,520</td><td><span style="color: red;">-0.13%</span></td><td>8,886,020</td><td>8,799,450</td><td><span style="color: green;">0.85%</span></td><td>2.65%</td><td>1,207</td></tr><tr><td>12</td><td><a href="/states/virginia-population">Virginia</a></td><td>8,603,980</td><td><span style="color: green;">1.21%</span></td><td>8,501,290</td><td>8,023,700</td><td><span style="color: green;">7.23%</span></td><td>2.57%</td><td>218</td></tr><tr><td>13</td><td><a href="/states/washington-population">Washington</a></td><td>7,796,940</td><td><span style="color: green;">3.63%</span></td><td>7,523,870</td><td>6,742,830</td><td><span style="color: green;">15.63%</span></td><td>2.33%</td><td>117</td></tr><tr><td>14</td><td><a href="/states/arizona-population">Arizona</a></td><td>7,520,100</td><td><span style="color: green;">5.06%</span></td><td>7,158,020</td><td>6,407,170</td><td><span style="color: green;">17.37%</span></td><td>2.25%</td><td>66</td></tr><tr><td>15</td><td><a href="/states/tennessee-population">Tennessee</a></td><td>6,944,260</td><td><span style="color: green;">2.55%</span></td><td>6,771,630</td><td>6,355,310</td><td><span style="color: green;">9.27%</span></td><td>2.08%</td><td>168</td></tr><tr><td>16</td><td><a href="/states/massachusetts-population">Massachusetts</a></td><td>6,912,240</td><td><span style="color: green;">0.43%</span></td><td>6,882,640</td><td>6,566,310</td><td><span style="color: green;">5.27%</span></td><td>2.07%</td><td>886</td></tr><tr><td>17</td><td><a href="/states/indiana-population">Indiana</a></td><td>6,805,660</td><td><span style="color: green;">1.65%</span></td><td>6,695,500</td><td>6,490,430</td><td><span style="color: green;">4.86%</span></td><td>2.03%</td><td>190</td></tr><tr><td>18</td><td><a href="/states/missouri-population">Missouri</a></td><td>6,169,040</td><td><span style="color: green;">0.77%</span></td><td>6,121,620</td><td>5,995,970</td><td><span style="color: green;">2.89%</span></td><td>1.84%</td><td>90</td></tr><tr><td>19</td><td><a href="/states/maryland-population">Maryland</a></td><td>6,065,440</td><td><span style="color: green;">0.49%</span></td><td>6,035,800</td><td>5,788,640</td><td><span style="color: green;">4.78%</span></td><td>1.81%</td><td>625</td></tr><tr><td>20</td><td><a href="/states/colorado-population">Colorado</a></td><td>5,893,630</td><td><span style="color: green;">3.56%</span></td><td>5,691,290</td><td>5,047,350</td><td><span style="color: green;">16.77%</span></td><td>1.76%</td><td>57</td></tr><tr><td>21</td><td><a href="/states/wisconsin-population">Wisconsin</a></td><td>5,852,490</td><td><span style="color: green;">0.78%</span></td><td>5,807,410</td><td>5,690,480</td><td><span style="color: green;">2.85%</span></td><td>1.75%</td><td>108</td></tr><tr><td>22</td><td><a href="/states/minnesota-population">Minnesota</a></td><td>5,706,400</td><td><span style="color: green;">1.79%</span></td><td>5,606,250</td><td>5,310,830</td><td><span style="color: green;">7.45%</span></td><td>1.71%</td><td>72</td></tr><tr><td>23</td><td><a href="/states/south-carolina-population">South Carolina</a></td><td>5,277,830</td><td><span style="color: green;">3.81%</span></td><td>5,084,160</td><td>4,635,650</td><td><span style="color: green;">13.85%</span></td><td>1.58%</td><td>176</td></tr><tr><td>24</td><td><a href="/states/alabama-population">Alabama</a></td><td>4,934,190</td><td><span style="color: green;">0.95%</span></td><td>4,887,680</td><td>4,785,440</td><td><span style="color: green;">3.11%</span></td><td>1.47%</td><td>97</td></tr><tr><td>25</td><td><a href="/states/louisiana-population">Louisiana</a></td><td>4,627,000</td><td><span style="color: red;">-0.70%</span></td><td>4,659,690</td><td>4,544,530</td><td><span style="color: green;">1.81%</span></td><td>1.38%</td><td>107</td></tr><tr><td>26</td><td><a href="/states/kentucky-population">Kentucky</a></td><td>4,480,710</td><td><span style="color: green;">0.44%</span></td><td>4,461,150</td><td>4,348,180</td><td><span style="color: green;">3.05%</span></td><td>1.34%</td><td>113</td></tr><tr><td>27</td><td><a href="/states/oregon-population">Oregon</a></td><td>4,289,440</td><td><span style="color: green;">2.57%</span></td><td>4,181,890</td><td>3,837,490</td><td><span style="color: green;">11.78%</span></td><td>1.28%</td><td>45</td></tr><tr><td>28</td><td><a href="/states/oklahoma-population">Oklahoma</a></td><td>3,990,440</td><td><span style="color: green;">1.27%</span></td><td>3,940,240</td><td>3,759,940</td><td><span style="color: green;">6.13%</span></td><td>1.19%</td><td>58</td></tr><tr><td>29</td><td><a href="/states/connecticut-population">Connecticut</a></td><td>3,552,820</td><td><span style="color: red;">-0.52%</span></td><td>3,571,520</td><td>3,579,110</td><td><span style="color: red;">-0.73%</span></td><td>1.06%</td><td>734</td></tr><tr><td>30</td><td><a href="/states/utah-population">Utah</a></td><td>3,310,770</td><td><span style="color: green;">4.99%</span></td><td>3,153,550</td><td>2,775,330</td><td><span style="color: green;">19.29%</span></td><td>0.99%</td><td>40</td></tr><tr><td>31</td><td><a href="/states/puerto-rico-population">Puerto Rico</a></td><td>3,194,370</td><td><span style="color: green;">0.03%</span></td><td>3,193,350</td><td>3,721,520</td><td><span style="color: red;">-14.16%</span></td><td>0.95%</td><td>923</td></tr><tr><td>32</td><td><a href="/states/nevada-population">Nevada</a></td><td>3,185,790</td><td><span style="color: green;">5.23%</span></td><td>3,027,340</td><td>2,702,400</td><td><span style="color: green;">17.89%</span></td><td>0.95%</td><td>29</td></tr><tr><td>33</td><td><a href="/states/iowa-population">Iowa</a></td><td>3,167,970</td><td><span style="color: green;">0.61%</span></td><td>3,148,620</td><td>3,050,740</td><td><span style="color: green;">3.84%</span></td><td>0.95%</td><td>57</td></tr><tr><td>34</td><td><a href="/states/arkansas-population">Arkansas</a></td><td>3,033,950</td><td><span style="color: green;">0.80%</span></td><td>3,009,730</td><td>2,921,960</td><td><span style="color: green;">3.83%</span></td><td>0.91%</td><td>58</td></tr><tr><td>35</td><td><a href="/states/mississippi-population">Mississippi</a></td><td>2,966,410</td><td><span style="color: red;">-0.49%</span></td><td>2,981,020</td><td>2,970,550</td><td><span style="color: red;">-0.14%</span></td><td>0.89%</td><td>63</td></tr><tr><td>36</td><td><a href="/states/kansas-population">Kansas</a></td><td>2,917,220</td><td><span style="color: green;">0.20%</span></td><td>2,911,360</td><td>2,858,190</td><td><span style="color: green;">2.07%</span></td><td>0.87%</td><td>36</td></tr><tr><td>37</td><td><a href="/states/new-mexico-population">New Mexico</a></td><td>2,105,000</td><td><span style="color: green;">0.59%</span></td><td>2,092,740</td><td>2,064,550</td><td><span style="color: green;">1.96%</span></td><td>0.63%</td><td>17</td></tr><tr><td>38</td><td><a href="/states/nebraska-population">Nebraska</a></td><td>1,952,000</td><td><span style="color: green;">1.37%</span></td><td>1,925,610</td><td>1,829,540</td><td><span style="color: green;">6.69%</span></td><td>0.58%</td><td>25</td></tr><tr><td>39</td><td><a href="/states/idaho-population">Idaho</a></td><td>1,860,120</td><td><span style="color: green;">6.26%</span></td><td>1,750,540</td><td>1,570,750</td><td><span style="color: green;">18.42%</span></td><td>0.56%</td><td>23</td></tr><tr><td>40</td><td><a href="/states/west-virginia-population">West Virginia</a></td><td>1,767,860</td><td><span style="color: red;">-2.02%</span></td><td>1,804,290</td><td>1,854,240</td><td><span style="color: red;">-4.66%</span></td><td>0.53%</td><td>74</td></tr><tr><td>41</td><td><a href="/states/hawaii-population">Hawaii</a></td><td>1,406,430</td><td><span style="color: red;">-1.00%</span></td><td>1,420,590</td><td>1,363,960</td><td><span style="color: green;">3.11%</span></td><td>0.42%</td><td>219</td></tr><tr><td>42</td><td><a href="/states/new-hampshire-population">New Hampshire</a></td><td>1,372,200</td><td><span style="color: green;">1.38%</span></td><td>1,353,460</td><td>1,316,760</td><td><span style="color: green;">4.21%</span></td><td>0.41%</td><td>153</td></tr><tr><td>43</td><td><a href="/states/maine-population">Maine</a></td><td>1,354,520</td><td><span style="color: green;">1.15%</span></td><td>1,339,060</td><td>1,327,630</td><td><span style="color: green;">2.03%</span></td><td>0.40%</td><td>44</td></tr><tr><td>44</td><td><a href="/states/montana-population">Montana</a></td><td>1,085,000</td><td><span style="color: green;">2.29%</span></td><td>1,060,660</td><td>990,697</td><td><span style="color: green;">9.52%</span></td><td>0.32%</td><td>7</td></tr><tr><td>45</td><td><a href="/states/rhode-island-population">Rhode Island</a></td><td>1,061,510</td><td><span style="color: green;">0.30%</span></td><td>1,058,290</td><td>1,053,960</td><td><span style="color: green;">0.72%</span></td><td>0.32%</td><td>1,027</td></tr><tr><td>46</td><td><a href="/states/delaware-population">Delaware</a></td><td>990,334</td><td><span style="color: green;">2.57%</span></td><td>965,479</td><td>899,593</td><td><span style="color: green;">10.09%</span></td><td>0.30%</td><td>508</td></tr><tr><td>47</td><td><a href="/states/south-dakota-population">South Dakota</a></td><td>896,581</td><td><span style="color: green;">2.04%</span></td><td>878,698</td><td>816,166</td><td><span style="color: green;">9.85%</span></td><td>0.27%</td><td>12</td></tr><tr><td>48</td><td><a href="/states/north-dakota-population">North Dakota</a></td><td>770,026</td><td><span style="color: green;">1.58%</span></td><td>758,080</td><td>674,715</td><td><span style="color: green;">14.13%</span></td><td>0.23%</td><td>11</td></tr><tr><td>49</td><td><a href="/states/alaska-population">Alaska</a></td><td>724,357</td><td><span style="color: red;">-1.47%</span></td><td>735,139</td><td>713,910</td><td><span style="color: green;">1.46%</span></td><td>0.22%</td><td>1</td></tr><tr><td>50</td><td><a href="/states/district-of-columbia-population">District of Columbia</a></td><td>714,153</td><td><span style="color: green;">1.80%</span></td><td>701,547</td><td>605,226</td><td><span style="color: green;">18.00%</span></td><td>0.21%</td><td>11,707</td></tr><tr><td>51</td><td><a href="/states/vermont-population">Vermont</a></td><td>623,251</td><td><span style="color: red;">-0.18%</span></td><td>624,358</td><td>625,879</td><td><span style="color: red;">-0.42%</span></td><td>0.19%</td><td>68</td></tr><tr><td>52</td><td><a href="/states/wyoming-population">Wyoming</a></td><td>581,075</td><td><span style="color: green;">0.60%</span></td><td>577,601</td><td>564,487</td><td><span style="color: green;">2.94%</span></td><td>0.17%</td><td>6</td></tr></tbody>

### _Below is to create and test variables using ONE state_

In [11]:
# Find first state's data
state_names = state_data.find_all('tr')
state = state_names[0]
state

<tr><td>1</td><td><a href="/states/california-population">California</a></td><td>39,613,500</td><td><span style="color: green;">0.38%</span></td><td>39,461,600</td><td>37,319,500</td><td><span style="color: green;">6.15%</span></td><td>11.84%</td><td>254</td></tr>

In [12]:
# Find first state's data title
href = state.find('a')['href']
href

'/states/california-population'

In [13]:
# Find first state's name
state_name = state.find('a').text
state_name

'California'

In [14]:
# Find first state's population
state_population = state.find_all('td')[2].text
state_population

'39,613,500'

In [15]:
# Find first state's population growth since previous year
state_pop_growth = state.find_all('td')[3].text
state_pop_growth

'0.38%'

In [16]:
# Find first state's population percentage of the United States population
state_us_percent = state.find_all('td')[7].text
state_us_percent

'11.84%'

In [17]:
# Find first state's population density by p/ml2
state_density = state.find_all('td')[8].text
state_density

'254'

## Create a data frame to store all states data. This will be our fundamental data frame.

In [18]:
# Create an empty list to store states data by row
state_rows = []

# Use a for loop to loop throuh the states:
for state in state_names:
    
    # Use Beautiful Soup's find() method to navigate and retrieve attributes 
    state_name = state.find('a').text
    href = state.find('a')['href']
    state_population = state.find_all('td')[2].text
    state_pop_growth = state.find_all('td')[3].text
    state_us_percent = state.find_all('td')[7].text
    state_density = state.find_all('td')[8].text
    
    # Create a dictionary to store the each state's data in a new row
    new_row={
        'state_name': state_name,
        'href': f"https://worldpopulationreview.com{href}",
        'state_population': state_population,
        'state_pop_growth': state_pop_growth,
        'state_us_percent': state_us_percent,
        'state_density': state_density
    }
    
    # Append/add in each state's data and column name to the state_rows list
    state_rows.append(new_row)

# Make the appended list to a new data frame, where all states' data are stored in here
states_df = pd.DataFrame(state_rows)
states_df.head()

,state_name,href,state_population,state_pop_growth,state_us_percent,state_density
0,California,https://worldpopulationreview.com/states/calif...,"39,613,500",0.38%,11.84%,254
1,Texas,https://worldpopulationreview.com/states/texas...,"29,730,300",3.85%,8.89%,114
2,Florida,https://worldpopulationreview.com/states/flori...,"21,944,600",3.30%,6.56%,409
3,New York,https://worldpopulationreview.com/states/new-y...,"19,300,000",-1.18%,5.77%,410
4,Pennsylvania,https://worldpopulationreview.com/states/penns...,"12,804,100",0.02%,3.83%,286

In [19]:
# Editing data types to integers
states_df['state_population'] = states_df['state_population'].str.replace(r'\D', '').astype(int)

In [20]:
# Editing data types to integers
states_df['state_pop_growth'] = states_df['state_pop_growth'].str.replace(r'\D', '').astype(int)
states_df['state_pop_growth'] = states_df['state_pop_growth'] / 10000

In [21]:
# Editing data types to integers
states_df['state_us_percent'] = states_df['state_us_percent'].str.replace(r'\D', '').astype(int)
states_df['state_us_percent'] = states_df['state_us_percent'] / 10000

In [22]:
# Editing data types to integers
states_df['state_density'] = states_df['state_density'].str.replace(r'\D', '').astype(int)

### _Save the State Population Density data to a CSV file_

In [23]:
# Drop href column for state population data csv
states_population_data_df = states_df.drop(columns=['href'])
states_population_data_df.to_csv('population_density.csv', index=False)

In [24]:
# Check column data types
states_population_data_df.dtypes

state_name           object
state_population      int64
state_pop_growth    float64
state_us_percent    float64
state_density         int64
dtype: object

## Create a data frame to store the Population by Race data in

In [25]:
# Create an empty data frame to store the total Population by Race data from each state's website
population_byrace_df = pd.DataFrame({'state_name': [],'Race': [],'Population': [],'Percentage': [] })

# Use a for loop to loop to loop through each state's name and href, then find the Population Race data
for idx in range(len(states_df[['state_name', 'href']])):
    state_name, href = states_df[['state_name', 'href']].iloc[idx]
    tables = pd.read_html(href)
    population_byrace_df_temp = tables[0]
    population_byrace_df_temp['state_name'] = state_name
    
    # Appending/adding in each state's Population by Race data into the empty data frame
    population_byrace_df = population_byrace_df.append(population_byrace_df_temp)

population_byrace_df

,state_name,Race,Population,Percentage
0,California,White,23453210.0,59.70%
1,California,Asian,5692422.0,14.49%
2,California,Some Other Race,5481789.0,13.95%
3,California,Black or African American,2274113.0,5.79%
4,California,Two or More Races,1922661.0,4.89%
...,...,...,...,...
2,Wyoming,American Indian and Alaska Native,14164.0,2.44%
3,Wyoming,Some Other Race,8832.0,1.52%
4,Wyoming,Black or African American,5582.0,0.96%
5,Wyoming,Asian,5025.0,0.86%
6,Wyoming,Native Hawaiian and Other Pacific Islander,596.0,0.10%

In [26]:
# Editing data types to integers
population_byrace_df['Percentage'] = population_byrace_df['Percentage'].str.replace(r'\D', '').astype(int)
population_byrace_df['Percentage'] = population_byrace_df['Percentage'] / 10000

### _Save the Population by Race data to a CSV file_

In [27]:
# Rename columns for merge
population_byrace_df = population_byrace_df.rename(columns = {"Race":"state_pop_race",
                                       "Population":"state_pop_race_count",
                                       "Percentage":"state_pop_race_percentage"})
population_byrace_df

,state_name,state_pop_race,state_pop_race_count,state_pop_race_percentage
0,California,White,23453210.0,0.5970
1,California,Asian,5692422.0,0.1449
2,California,Some Other Race,5481789.0,0.1395
3,California,Black or African American,2274113.0,0.0579
4,California,Two or More Races,1922661.0,0.0489
...,...,...,...,...
2,Wyoming,American Indian and Alaska Native,14164.0,0.0244
3,Wyoming,Some Other Race,8832.0,0.0152
4,Wyoming,Black or African American,5582.0,0.0096
5,Wyoming,Asian,5025.0,0.0086
6,Wyoming,Native Hawaiian and Other Pacific Islander,596.0,0.0010

In [28]:
# Create the Population by Race csv
population_byrace_df.to_csv('population_byrace.csv', index=False)

In [29]:
# Check column data types
population_byrace_df.dtypes

state_name                    object
state_pop_race                object
state_pop_race_count         float64
state_pop_race_percentage    float64
dtype: object

## Create a data frame to store the Educational Attainment data in

In [30]:
# Create an empty data frame to store the Educational Attainment data from each state's website
education_attainment_df = pd.DataFrame({'state_name': [],'Education Attained': [],'Count': [], 'Percentage': []})

# Use a for loop to loop to loop through each state's name and href, then find the Educational Attainment data
for idx in range(len(states_df[['state_name', 'href']])):
    state_name, href = states_df[['state_name', 'href']].iloc[idx]
    tables = pd.read_html(href)
    education_attainment_df_temp = tables[3]
    education_attainment_df_temp['state_name'] = state_name
    # Appending/adding in each state's Educational Attainment data into the empty data frame
    education_attainment_df = education_attainment_df.append(education_attainment_df_temp)
    
education_attainment_df

    state_name    Education Attained      Count Percentage
0   California   Less Than 9th Grade  2432990.0      9.19%
1   California     9th to 12th Grade  1985680.0      7.50%
2   California  High School Graduate  5423460.0     20.49%
3   California          Some College  5574860.0     21.06%
4   California     Associates Degree  2073820.0      7.83%
..         ...                   ...        ...        ...
2      Wyoming  High School Graduate   113535.0     29.07%
3      Wyoming          Some College    99677.0     25.52%
4      Wyoming     Associates Degree    43761.0     11.21%
5      Wyoming      Bachelors Degree    68269.0     17.48%
6      Wyoming       Graduate Degree    38586.0      9.88%

[364 rows x 4 columns]

In [31]:
# Editing data types to integers
education_attainment_df['Percentage'] = education_attainment_df['Percentage'].str.replace(r'\D', '').astype(int)
education_attainment_df['Percentage'] = education_attainment_df['Percentage'] / 10000

### _Save the Educational Attainment data to a CSV file_

In [32]:
# Rename columns for merge
education_attainment_df = education_attainment_df.rename(columns = {"Education Attained":"state_edu_attained",
                                                                    "Count":"state_edu_attained_count",
                                                                    "Percentage":"state_edu_attained_percentage"})
education_attainment_df

,state_name,state_edu_attained,state_edu_attained_count,state_edu_attained_percentage
0,California,Less Than 9th Grade,2432990.0,0.0919
1,California,9th to 12th Grade,1985680.0,0.0750
2,California,High School Graduate,5423460.0,0.2049
3,California,Some College,5574860.0,0.2106
4,California,Associates Degree,2073820.0,0.0783
...,...,...,...,...
2,Wyoming,High School Graduate,113535.0,0.2907
3,Wyoming,Some College,99677.0,0.2552
4,Wyoming,Associates Degree,43761.0,0.1121
5,Wyoming,Bachelors Degree,68269.0,0.1748
6,Wyoming,Graduate Degree,38586.0,0.0988

In [44]:
# Create the Educational Attainment csv
education_attainment_df.to_csv('population_eduattain.csv', index=False)

In [45]:
# Check column data types
education_attainment_df.dtypes

state_name                        object
state_edu_attained                object
state_edu_attained_count         float64
state_edu_attained_percentage    float64
dtype: object

 ## Create a data frame to store the Earnings by Educational Attainment & Sex data in

In [35]:
# Create an empty data frame to store the Earnings by Educational Attainment % Sex data from each state's website
earnings_df = pd.DataFrame({'state_name': []})

# Use a for loop to loop to loop through each state's name and href, then find the Earnings data
for idx in range(len(states_df[['state_name', 'href']])):
    state_name, href = states_df[['state_name', 'href']].iloc[idx]
    tables = pd.read_html(href)
    earnings_df_temp = tables[5]
    earnings_df_temp['state_name'] = state_name
    # Appending/adding in each state's Earnings data into the empty data frame
    earnings_df = earnings_df.append(earnings_df_temp)
    
earnings_df

    state_name                   Name  Average     Male   Female
0   California                Overall  $42,682  $48,996  $36,685
1   California  Less Than High School  $23,760  $27,427  $18,080
2   California       High School Grad  $31,674  $37,077  $26,148
3   California           Some College  $39,907  $47,112  $32,818
4   California       Bachelors Degree  $63,230  $75,794  $53,357
..         ...                    ...      ...      ...      ...
1      Wyoming  Less Than High School  $26,671  $32,896  $18,191
2      Wyoming       High School Grad  $34,778  $47,373  $23,504
3      Wyoming           Some College  $37,699  $51,439  $28,739
4      Wyoming       Bachelors Degree  $49,141  $55,557  $43,077
5      Wyoming        Graduate Degree  $62,430  $68,893  $57,694

[312 rows x 5 columns]

In [36]:
# Editing data types to integers
earnings_df['Average'] = earnings_df['Average'].str.replace(r'\D', '').astype(int)

In [37]:
# Editing data types to integers
earnings_df['Male'] = earnings_df['Male'].str.replace(r'\D', '').astype(int)

In [38]:
# Editing data types to integers
earnings_df['Female'] = earnings_df['Female'].str.replace(r'\D', '').astype(int)

### _Save the Earnings data to a CSV file_

In [39]:
# Rename columns for merge
earnings_df = earnings_df.rename(columns = {"Name":"state_earning_edu",
                                            "Average":"state_earning_average",
                                            "Male":"state_earning_male",
                                            "Female":"state_earning_female"})
earnings_df

,state_name,state_earning_edu,state_earning_average,state_earning_male,state_earning_female
0,California,Overall,42682,48996,36685
1,California,Less Than High School,23760,27427,18080
2,California,High School Grad,31674,37077,26148
3,California,Some College,39907,47112,32818
4,California,Bachelors Degree,63230,75794,53357
...,...,...,...,...,...
1,Wyoming,Less Than High School,26671,32896,18191
2,Wyoming,High School Grad,34778,47373,23504
3,Wyoming,Some College,37699,51439,28739
4,Wyoming,Bachelors Degree,49141,55557,43077
5,Wyoming,Graduate Degree,62430,68893,57694

In [42]:
# Create the Earnings csv
earnings_df.to_csv('population_earnings.csv', index=False)

In [43]:
# Check column data types
earnings_df.dtypes

state_name               object
state_earning_edu        object
state_earning_average     int64
state_earning_male        int64
state_earning_female      int64
dtype: object